.mainDashboard{
    background-image: url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 90vh;
    background-size: cover;
    overflow: hidden !important;
}

.fs-25 {
  font-size: 25px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.line-height-1 {
  line-height: 1;
}

.stats-card-two {
  background-color: #cfbcbc;
  border-radius: 4px;
  padding: 25px;
}

.stats-card-two .avatar {
  font-size: 0.875rem;
  text-align: center;
  background: #f1f2f3;
  color: #fff;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.stats-card-two .align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.MuiCardHeader-title {
  font-size: 17px !important;
}
.gridSubItems{
  width: 100% !important;
    margin: 0px !important;
}
.card {
  border: none;
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  cursor: pointer;
  
}
.card:hover {
  .cardLeaves,
  .cardEmployees,
  .cardHolidays {
      box-shadow: 1px 8px 20px grey;
      -webkit-transition: box-shadow 0.3s ease-in;
  }
}
.cardLeaves {
  //background-color: #446d32 !important;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(71, 112, 71, 0.4);

}
.cardHeaderText {
  background-color: rgb(57, 150, 54) !important;
  font-size: large;
  color: white;
  font-weight: 700;
  display: flex;
  min-height: 40px;
  width: 100%;
  justify-content: center;
  padding-top: 5px;
}
.mess-details{
  font-size: 40px;
  //color: white;
  font-weight: 700;
  display: flex;
 // min-height: 40px;
  justify-content: center;
  margin-top: 5px;
}
.cardBody {
  border-top: 1px dotted lightcyan;
  display: flex;
  padding-top: 10px;
}
.cardBodyText {
  font-size: 20px;
  color: white;
  //font-weight: 700;
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
}
.menu-Action-button{
  // display:flex;
  width: 100%;
  margin-top: 10px !important;
  background-color: #008b69!important;
  color: #fdfeff !important;
}
.yesterday-feedback{
  margin-top: 20px;
}
.yesterday-feedback label{
  //font-size: x-large;
  color: white;
  //font-weight: 700;
  display: flex;
  margin-top: 5px;

}
.yesterday-feedback input{
  min-height: 100px;
  width:80%;
  margin-left: 20px;
}
.tableHeader {
  background-color: #008b69;
}
.TableCell {
  color: white !important;
  border: 1px solid #efefef !important;
}
.nameCells {
  background-color: #6aad8e !important;
  border: 2px solid #efefef !important;
  border-left: 1px solid #efefef !important;
  border-right: 1px solid #efefef !important;
  color:white !important;
  font-size: 18px !important;
}
.subCells {
  background-color: #8dc7af !important;
  border: 2px solid #efefef !important;
  border-left: 1px solid #efefef !important;
  border-right: 1px solid #efefef !important;
  color: #ffffff !important;
}
th {
  padding: 10px !important;
}
td {
  padding: 5px !important;
}
.userStatus{
  color: white;
}


///mess Details
.MuiAppBar-colorPrimary{
  background-color: rgb(57, 150, 54) !important;
}
.PrivateTabIndicator-colorSecondary-5{
  background-color: white !important;
}
.messDetails{
  background-image: url("https://images.pexels.com/photos/3184183/pexels-photo-3184183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 90vh;
  background-size: cover;
  overflow: hidden !important;

}
//add deposite
.fieldDiv{
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mainAddDeposite{
  width: 40% !important;
  display: flex;
  flex-direction: column;
  margin: auto !important;
  background-color: white !important;
  padding-bottom: 10px !important;
  .menu-Action-button{
    width: 50%;
    margin:auto !important;
    background-color: #008b69!important;
    color: #fdfeff !important;

  }
  .fieldDiv{
    width: 80% !important;
    margin: auto;
    color: white !important;
    margin-bottom: 10px !important;
  }
  label{
    margin: 10px 0px 4px 40px !important;

  }
}

.viewMember{
  background-image: url("https://images.pexels.com/photos/3184183/pexels-photo-3184183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 81vh;
  background-size: cover;
  overflow: hidden !important;
  padding: 40px;
}