
.loginContainer{
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/3850838/pexels-photo-3850838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.mainDiv{
  width: 30%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 25px;
  background-color: rgba(59, 58, 58, 0.4);
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
  .login-button{
    display: flex;
    width: 50%;
    background-color: #008b69!important;
    color: #fdfeff !important;
    margin:10px auto ;
    margin-bottom: 50px;
  }
  .login-fields-Width {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin:50px auto;
    justify-content: center;
  }
  .MuiInput-underline::after{
    border: none !important;
  }
  .MuiInputBase-input{
    color: white !important;
  }
}

.login-heading {
  margin-left: auto;
  margin-right: auto;
}
.errorText {
  color: red;
}
body{
  margin: 0;
  padding: 0;
}