.loginContainer{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: white;
  margin-top: 10%;
  border-radius: 25px;
}
.mainDiv{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.login-text {
  padding: 10px 0px;
}
.login-fields-Width {
  width: 100%;
}
.login-heading {
  margin-left: auto;
  margin-right: auto;
}