
.loginContainer{
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/3850838/pexels-photo-3850838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.mainDiv{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 170px;
  //background-image: url('https://www.pexels.com/photo/assorted-sliced-fruits-in-white-ceramic-bowl-1092730/');
}
.login-text {
  padding: 10px 0px;
  color: white;
}
.login-fields-Width {
  width: 100%;
}
.login-heading {
  margin-left: auto;
  margin-right: auto;
}
.errorText {
  color: red;
}
body{
  margin: 0;
  padding: 0;
}